This is a Wind River Linux Repository Mirror.  It was constructed by the setup
program using the following arguments:

####SETUP_ARGS####


To update your mirror
----------------------
The preferred way of updating your repository mirror is to re-run the setup
program.

First you should update the wrlinux-9, for example:

$ cd wrlinux-9
$ git pull
$ cd ..

Then re-run the setup program with the original arguments.

$ wrlinux-9/setup.sh ####SETUP_ARGS####

You can change the arguments to the setup program.  This will change the
what is downloaded as part of your repository mirror.  If repositories have
been removed, it may break users of this mirror.
