This is a Wind River Linux build project.  It was constructed by the
setup.sh tool using the following arguments:

####SETUP_ARGS####


Buildtools
----------
Wind River provides special host build-tools in order to supplement the
build systems tools.  While this is not required, it can solve many
problems with missing or incompatible host tools.  These tools are installed
into bin/buildtools.

We recomend you always source this into your environment each time you
open a new shell session, and before issueing any build system commands.
To do this:

$ . ./environment-setup-<host>-wrlinuxsdk-linux


Quickstart Instructions
-----------------------
Once you have sourced the environment file, as noted above...

You must first create a build directory:

$ . ./oe-init-build-env <build>

The <build> is the directory to create, if not specified the system will
default to the directory 'build'.

Once the build directory has been created, the system will change your
working directory to be inside of the build directory.  Each time you
open a new shell session you will need to source the oe-init-build-env
script as indicated above.

Once in the build directory edit the 'conf/local.conf' file.  Please
refer to the comments in the file for specific configuration instructions.

After configuring your build directory, you may now run bitbake commands.
Note that bitbake, actually python3, requires the LANG environment variable
to be a utf-8 variant, e.g. en_US.UTF-8, or it will terminate with an error.
Bitbake commands are of the format: bitbake <recipe>

For example:

$ export LANG=en_US.UTF-8      # if needed
$ bitbake core-image-minimal

or

$ LANG=en_US.UTF-8 bitbake core-image-minimal

Once your have built an image, you can boot this using QEMU (for compatible
MACHINE settings) using the 'runqemu' command, such as:

$ runqemu qemux86-64


To update your project
----------------------
To update your project, you must update the platform project git repository
and re-run the setup.sh tool.

First update wrlinux-x, for example:

$ cd wrlinux-x
$ git pull
$ cd ..

Then re-run the setup.sh tool with the original arguments.

$ wrlinux-x/setup.sh ####SETUP_ARGS####

Note: existing local.conf and bblayers.conf files are not modified by
setup.sh tool -- you will have to update them manually, or start a new build
directory.


Local layer
-----------
A special 'local' layer has been added to your project automatically.
This layer is located at the path 'layers/local' in your project.

The purpose of the local layer is a staging location for your project
work, including any new recipes, classes or scripts.
